.hide {
  display: none;
}

/* #region Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
}

h1,
h2,
h2,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}
/* #endregion */

/* #region Hero */

.hero-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.hero-wrapper {
  width: 511px;
  margin: auto 0;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.button {
  border-radius: 30px;
  padding: 6px 17px;
  min-width: 98px;
  min-height: 32px;
  background: #bbf330;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
}
.hero-image {
  border-radius: 100%;
  border: 26px solid #ffe550;
  width: 528px;
  height: 528px;
  margin: auto 14px;
}

.hero-img {
  border-radius: 100%;
}
/* #endregion */

/* #region Offerings */
.offerings {
  background: #ffe550;
  margin-bottom: 116px;
}
.offerings-container {
  display: flex;
  justify-content: space-between;
  padding: 118px 16px;
}

.offerings-images {
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  width: 566px;
  height: 551px;
}
.offerings-images-wrapper {
  border-radius: 100%;
  border: 24px solid #ffe550;
  background-color: #fefefe;
  width: 518px;
  height: 503px;
  position: relative;
}
.offerings-img {
  position: absolute;
  border-radius: 262px;
  margin: auto;
  top: 50%; /* Центрування по вертикалі */
  left: 50%; /* Центрування по горизонталі */
  transform: translate(-50%, -65%);
  background-color: rgba(255, 255, 255, 0);
}
.offerings-wrapper {
  width: 590px;
}
.offerings-wrapper-text {
  width: 541px;
}
.offerings-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.offerings-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.offerings-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.offerings-item {
  width: 260px;
}
.offerings-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}
.offerings-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
/* #endregion */

/* #region Favorites */

.favorite {
  margin-bottom: 105px;
}
.favorites-title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}
.favorites-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  row-gap: 32px;
}
.favorites-item {
  border: 16px solid #ffe550;
  border-radius: 197px;
  width: 363px;
  height: 365px;
}
.favorite-image {
  border-radius: 164px;
  margin: 24px;
}
/* #endregion */

/* #region Customers Sey */
.customer {
  background: #ffe550;
  margin-bottom: 194px;
}
.customer-container {
  padding-top: 140px;
  padding-bottom: 126px;
}

.customer-title {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
}
.customer-text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}
.customer-list {
  display: flex;
  justify-content: space-between;
}
.customer-item {
  width: 547px;
  background-color: #fefefe;
  border-radius: 20px;
  border-top-left-radius: 0;
  padding: 15px;
}
.customer-item-title {
  margin-bottom: 28px;
}
.customer-item-text {
  margin-bottom: 40px;
}
/* #endregion */

/* #region Subscribe */
.subscribe {
  margin-bottom: 194px;
}
.subscribe-container {
  display: flex;
  justify-content: space-between;
}
.subscribe-wrapper {
  margin: auto 0;
}
.subscribe-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.subscribe-text {
  width: 532px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.button {
}
.subscribe-img {
}
/* # endregion */
